body {
    font-family: "Open Sans", sans-serif;
}


#title {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
}

#title2 {
    margin-bottom: 20px;
}

#center {
    background-color: white;
    display: flex;
    justify-content: center;
}

#gameboard {
    width: 310px;
    text-align: center;
    display: block;
    margin: auto;
}

.square {
    width: 100px;
    height: 100px;
    opacity: 0;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.square:hover {
    cursor: pointer;
}

.square img:hover {
    cursor: pointer;
}

.squareplayed {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1;
}

.squareplayed:hover {
    cursor: default;
}

table {
    border-collapse: collapse;

}

td+td {
    border-left: 5px outset rgb(133, 129, 129);

}

tr+tr {
    border-top: 5px outset rgb(133, 129, 129);
}

#players {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftplayer {
    margin-right: 31px;
}


#dropdown {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}







header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}