body {
    font-family: "Open Sans", sans-serif;
}

#title {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
}

#title2 {
    margin-bottom: 20px;
}

#center {
    background-color: white;
    display: flex;
    justify-content: center;
}

#gameboard {
    width: 310px;
    text-align: center;
    display: block;
    margin: auto;
}

.square {
    width: 100px;
    height: 100px;
}

.square:hover {
    cursor: pointer;
}

.square img:hover {
    cursor: pointer;
}

.squareplayed:hover {
    cursor: default;
}

#sq1 {
    box-shadow: 3px 5px 2px black;
}

#sq2 {
    box-shadow: -7px -1px 2px black;
}

#sq3 {
    box-shadow: -3px 7px 2px black;
}

#sq4 {
    box-shadow: 6px 3px 2px black;
}

#sq5 {
    box-shadow: -5px -5px 2px black;
}

#sq6 {
    box-shadow: -3px 2px 2px black;
}

#sq7 {
    box-shadow: 0px -2x 1px black;
}

#sq8 {
    box-shadow: 1px -7px 2px black;
}

#sq9 {
    box-shadow: -1px -1px 1px black;
}

table {
    border-collapse: collapse;

}

td+td {
    border-left: 3px double black;

}

tr+tr {
    border-top: 3px double black;
}

#players {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftplayer {
    margin-right: 31px;
}


#dropdown {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}







header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}